.title{
    text-align: center;
    font-size: 32px;
    color: #161162;
    margin-top: 5px;
    text-transform: none;
    text-decoration: bolder;
    font-weight: 600;
}
.title h2{
    text-align: center;
    color:#000000 ;
    font-size:15px ;
    font-weight: 600;
    text-decoration: uppercase;
    margin: 10px 0 30px;
}